.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  display: grid;
  grid-template-rows: auto auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card__img {
  width: 100%;
  height: 280px;
  border-radius: 5px 5px 0 0;
}

.card__text {
  background: #fbfad3;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  display: grid;
  grid-template-columns: 30px auto;
  text-align: left;
}

.card__text a {
  cursor: pointer;
  color: #333;
}