.medellincss {
  width: 100%;
  text-align: center;
}

.medellincss img {
  width: 80%;
  margin: 20px;
  border: 5px solid #fbfad3;
}

.medellincss__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 5px;
}